* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 1px solid #ffffff1a;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#gradientheader {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 50%;
  animation: fadeIn 3s ease-in-out forwards;
  transition: transform 0.3s ease;
}
@keyframes moveGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  background-color: #121214;
  scroll-behavior: smooth;
  margin: 0;
}

.quadrado {
  width: 90%;
  max-width: 400px;
  height: 55px;
  background-color: #ebebeb;
  border-radius: 60px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bola {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: girar 5s linear infinite;
}

@keyframes girar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media only screen and (min-width: 768px) {
  #bola {
    top: 15%;
  }
}

h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 24px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  transition: all 0.3s ease-out;
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 40px;
}

.input-wrapper {
  width: 335px;
  height: 44px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: #ebebeb;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.input-wrapper svg {
  vertical-align: middle;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .input-wrapper svg {
    margin-top: -5px;
  }
}

input {
  font-style: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  all: unset;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.button-ingress {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

#codigo-gerado {
  color: #f37c37;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 335px;
  height: 53px;
  border: 0;
  background: #f48f56;
  border-radius: 10px;
  padding: 7px 20px;
  color: #ffffff;
  font: 700 12px/24px "Roboto", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #f37c37;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.card {
  width: 358px;
  max-width: 400px;
  height: 540px;
  border-radius: 20px;
  background-color: #292c32;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.card img {
  max-width: 100%;
  height: auto;
  position: absolute;
  border-radius: 20px;
  top: 0px;
  left: 2px;
  z-index: 1;
}

.quebra {
  text-align: center;
  margin-top: 20px;
}

.quebra img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 130px;
}

.faixa img {
  max-width: 999px;
  height: auto;
  margin-top: -235px;
  margin-left: 140px;
}

.vertical-line {
  width: 2px;
  height: 70vh;
  background-color: #fdc0bf;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.dot {
  position: relative;
  display: flex;
  align-items: center;
}

.dot::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: 0px;
  transition: opacity 0.5s;
}

.timeex {
  font-size: 15px;
  margin-bottom: 5px;
  color: #ebebeb;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  position: absolute;
  transform: translateY(-100%);
}

.description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-right: -20px;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  position: absolute;
  color: #ccc;
  top: 50%;
  transform: translateY(-50%);
}

.dot-1::before {
  top: 0;
}

.dot-2::before {
  top: 50%;
}

.dot-3::before {
  bottom: 0;
}

.left {
  left: -140px;
}

.right {
  right: -100px;
}

h3 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 1200;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  transition: all 0.3s ease-out;
  text-align: center;
}

#experiencetext1 {
  margin-bottom: 70px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
