* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
}

.top-bar {
  position: relative;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 60px;
  background-color: rgba(200, 200, 200, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 99;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* #faixa {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -3%;
        z-index: 99;
    } */

/* #quebra {
        position: absolute;
        left: -5%;
        transform: translateX(-50%);
        top: -5%;
        z-index: 99;
    } */

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327px;
  height: auto;
  height: 604px;
  background-color: #1e293b;
  border-radius: 16px;
}

.quebra {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 10px;
  background-color: #000;
  border-radius: 12px;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 5px;
}

#email {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
}

.amplier {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 191px;
  height: 39px;
  border: 0;
  background: #ffffff;
  border-radius: 12px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
  button {
    top: 55%; /* Ajuste o valor aqui */
  }
}

button:hover {
  background-color: #f37c37;
}

.left-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white; /* cor do texto */
}

.right-text {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white; /* cor do texto */
}

#qrcode-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #qrcode-2 {
    margin-top: -35px; /* Ajuste o valor aqui */
  }
}

#btncodingress {
  width: 50%;
  max-width: 191px;
  height: 39px;
  border: 0;
  background: #ed7e7e;
  border-radius: 10px;
  padding: 7px 20px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: 305px;
}

@media only screen and (max-device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #btncodingress {
    margin-top: 310px;
  }
}

#btncodingress:hover {
  background: #f37c37;
}

.centered-svg {
  color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

hr {
  background-color: rgba(200, 200, 200, 0.1);
  height: 1px;
  border: 0;
}

#downloadPDF {
  width: 327px;
  height: 52px;
  border: 0;
  background: #35374b;
  border-radius: 10px;
  padding: 7px 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 20px;
  cursor: pointer;
}

#downloadPDF:hover {
  background-color: #fff;
  color: #000;
}

#fotoPerfil {
  width: 150px;
  border-radius: 80px;
  height: 150px;
  position: absolute;
  z-index: 2;
  margin-top: -155px;
  transform: translate(-50%, -50%);
}

#fotoPerfilWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerQrCodeStatus {
  position: relative; /* Define como base para os elementos absolutos internos */
  width: 120px;
  height: 120px; /* Deve ser o mesmo tamanho do QR code para alinhamento correto */
  left: 50%; /* Centraliza o bloco */
  transform: translateX(-50%);
  top: 60%; /* Ajuste conforme necessário */
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .containerQrCodeStatus {
    margin-top: 20px; /* Ajuste o valor aqui */
  }
}

.statusImagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Garante que a imagem cubra todo o QR code */
  height: 100%;
  z-index: 10; /* Garante que a imagem fique por cima do QR code */
  display: none; /* Esconde inicialmente e será mostrada via JS se válido */
}
